* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#google__cloud__partner .card__wrapper .card .img__wrap, main .content__wrap .main__content .partner__review a, #loading .loading__wrap, #loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  background-color: #f7fff7;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.para {
  font-weight: 500;
  font-size: 16px;
}
@media only screen and (min-width: 576px) {
  .para {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .para {
    font-size: 20px;
  }
}

.sec__title {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #003faa;
}
@media only screen and (min-width: 768px) {
  .sec__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .sec__title {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .sec__title {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1400px) {
  .sec__title {
    font-size: 60px;
    line-height: 100%;
  }
}

.sec__dis {
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 450px) {
  .sec__dis {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .sec__dis {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1400px) {
  .sec__dis {
    font-size: 36px;
  }
}

.btn, .btn__gradient {
  background-color: #fd4303;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
  padding: 13px 0px;
  border-radius: 8px;
}
.btn:hover, .btn__gradient:hover {
  background-color: #f4906e;
}
@media only screen and (min-width: 576px) {
  .btn, .btn__gradient {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .btn, .btn__gradient {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn, .btn__gradient {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .btn, .btn__gradient {
    font-size: 20px;
    padding: 25px 0px;
    border-radius: 15px;
  }
}
.btn svg, .btn__gradient svg {
  width: 15px;
  fill: white;
  margin-left: 5px;
}
@media only screen and (min-width: 1200px) {
  .btn svg, .btn__gradient svg {
    width: 20px;
    margin-left: 10px;
  }
}

.btn__wrap {
  text-align: center;
}

.btn__gradient {
  background: linear-gradient(270deg, #009eaa 0%, #001baa 100%);
  border-radius: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  display: inline-block;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .btn__gradient {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .btn__gradient {
    padding: 25px 85px 25px 85px;
  }
}

.tag__list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
.tag__list .tag {
  font-size: 14px;
  background-color: #545b62;
  text-decoration: none;
  color: white;
  padding: 7px 10px;
  text-transform: capitalize;
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .tag__list .tag {
    font-size: 16px;
  }
}

footer {
  background-color: black;
  padding-top: 18px;
  padding-bottom: 18px;
}
footer p {
  text-align: center;
  color: white;
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
}
#loading .loading__wrap {
  width: 100%;
  height: 100%;
}
#loading .loading__wrap svg {
  width: 20vw;
  max-width: 250px;
}

main .content__wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  main .content__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
main .content__wrap .main__content {
  order: 5;
}
@media only screen and (min-width: 768px) {
  main .content__wrap .main__content {
    order: 1;
  }
}
main .content__wrap .main__content .title {
  font-weight: 900;
  text-transform: capitalize;
}
main .content__wrap .main__content .title h1 {
  line-height: 120%;
}
@media only screen and (min-width: 450px) {
  main .content__wrap .main__content .title h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__content .title h1 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  main .content__wrap .main__content .title h1 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1400px) {
  main .content__wrap .main__content .title h1 {
    font-size: 60px;
  }
}
main .content__wrap .main__content .title h1:first-child {
  font-weight: 600;
  width: 200px;
  position: relative;
}
@media only screen and (min-width: 450px) {
  main .content__wrap .main__content .title h1:first-child {
    width: 250px;
  }
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__content .title h1:first-child {
    width: 265px;
  }
}
@media only screen and (min-width: 1400px) {
  main .content__wrap .main__content .title h1:first-child {
    width: 350px;
  }
}
main .content__wrap .main__content .title h1:last-child {
  font-weight: 800;
  background: linear-gradient(90deg, #001baa -43.23%, #00a3aa 79.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
main .content__wrap .main__content .title h1 #cloud__marker {
  position: absolute;
  right: 10px;
  width: 110px;
}
@media only screen and (min-width: 450px) {
  main .content__wrap .main__content .title h1 #cloud__marker {
    width: 140px;
  }
}
@media only screen and (min-width: 1400px) {
  main .content__wrap .main__content .title h1 #cloud__marker {
    width: 200px;
  }
}
main .content__wrap .main__content .main__disc {
  margin-top: 15px;
  font-size: 22px;
}
@media only screen and (min-width: 576px) {
  main .content__wrap .main__content .main__disc {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  main .content__wrap .main__content .main__disc {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__content .main__disc {
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  main .content__wrap .main__content .main__disc {
    font-size: 28px;
    margin-top: 20px;
  }
}
main .content__wrap .main__content .main__disc span {
  font-weight: 700;
}
main .content__wrap .main__content .consult__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: #001baa;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}
@media only screen and (min-width: 576px) {
  main .content__wrap .main__content .consult__link {
    font-size: 20px;
    line-height: 125%;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__content .consult__link {
    font-size: 24px;
  }
}
main .content__wrap .main__content .consult__link svg {
  width: 15px;
  margin-left: 5px;
}
main .content__wrap .main__content .partner__review {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 320px;
  margin-top: 15px;
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__content .partner__review {
    max-width: 400px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  main .content__wrap .main__content .partner__review {
    margin-top: 30px;
  }
}
main .content__wrap .main__content .partner__review a {
  display: inline-block;
  width: 48%;
}
main .content__wrap .main__content .partner__review a img {
  width: 100%;
}
main .content__wrap .main__anima {
  width: 100%;
  order: 2;
  width: 100%;
  max-width: 500px;
}
@media only screen and (min-width: 992px) {
  main .content__wrap .main__anima {
    max-width: initial;
  }
}
@media only screen and (min-width: 1400px) {
  main .content__wrap .main__anima {
    max-width: 750px;
  }
}
main .wave__img {
  width: 100%;
  display: none;
  position: relative;
}
@media only screen and (min-width: 576px) {
  main .wave__img {
    display: block;
  }
}
main .wave__img img {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  main .wave__img img {
    height: 120px;
  }
}
@media only screen and (min-width: 768px) {
  main .wave__img img {
    height: 155px;
  }
}
@media only screen and (min-width: 1200px) {
  main .wave__img img {
    height: 180px;
  }
}
@media only screen and (min-width: 1400px) {
  main .wave__img img {
    height: 210px;
  }
}
main .wave__img .img__anim {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #f7fff7;
}

#services .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 992px) {
  #services .container {
    padding-bottom: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  #services .container {
    padding-bottom: 150px;
  }
}
@media only screen and (min-width: 1400px) {
  #services .container {
    padding-bottom: 190px;
  }
}
#services .container .card__wrapper {
  display: grid;
  justify-items: center;
  margin-top: 40px;
  grid-template-columns: minmax(1fr, 320px);
  grid-row-gap: 25px;
}
@media only screen and (min-width: 576px) {
  #services .container .card__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}
@media only screen and (min-width: 768px) {
  #services .container .card__wrapper {
    grid-gap: 35px;
    margin-top: 55px;
  }
}
@media only screen and (min-width: 992px) {
  #services .container .card__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  #services .container .card__wrapper {
    grid-gap: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  #services .container .card__wrapper {
    margin-top: 80px;
  }
}
#services .container .card__wrapper .cards {
  text-align: center;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px 15px 15px 15px;
  max-width: 320px;
}
@media only screen and (min-width: 576px) {
  #services .container .card__wrapper .cards {
    max-width: initial;
  }
}
@media only screen and (min-width: 768px) {
  #services .container .card__wrapper .cards {
    padding: 35px 20px 20px 20px;
  }
}
@media only screen and (min-width: 1400px) {
  #services .container .card__wrapper .cards {
    padding: 45px 25px 25px 25px;
    max-width: initial;
    border-radius: 25px;
  }
}
#services .container .card__wrapper .cards img {
  width: 125px;
}
@media only screen and (min-width: 576px) {
  #services .container .card__wrapper .cards img {
    width: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  #services .container .card__wrapper .cards img {
    width: 135px;
  }
}
#services .container .card__wrapper .cards h3.card__title {
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 15px;
  font-size: 22px;
}
@media only screen and (min-width: 992px) {
  #services .container .card__wrapper .cards h3.card__title {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1400px) {
  #services .container .card__wrapper .cards h3.card__title {
    font-size: 30px;
  }
}
#services .container .card__wrapper .cards .para {
  margin-top: 10px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  #services .container .card__wrapper .cards .para {
    font-size: 18px;
  }
}
#services .container .card__wrapper .cards .btn, #services .container .card__wrapper .cards .btn__gradient {
  margin-top: 20px;
}
@media only screen and (min-width: 1400px) {
  #services .container .card__wrapper .cards .btn, #services .container .card__wrapper .cards .btn__gradient {
    margin-top: 40px;
  }
}

#google__cloud__partner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#google__cloud__partner .partner__bg {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: radial-gradient(circle, rgba(0, 164, 170, 0.62) 30%, rgba(0, 26, 170, 0) 70%);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 50;
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .partner__bg {
    background-image: radial-gradient(circle, rgba(0, 164, 170, 0.62) 30%, rgba(0, 26, 170, 0) 60%);
  }
}
#google__cloud__partner .partner__bg svg {
  display: none;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .partner__bg svg {
    display: block;
    width: 380px;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .partner__bg svg {
    transform: translateY(-25px);
    width: 410px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .partner__bg svg {
    transform: translateY(0px) scaleX(1.5);
    width: 380px;
  }
}
@media only screen and (min-width: 1400px) {
  #google__cloud__partner .partner__bg svg {
    width: 420px;
  }
}
#google__cloud__partner .container {
  grid-row: 1/2;
  grid-column: 1/2;
  padding-bottom: 50px;
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .container {
    padding-bottom: 50px;
  }
}
#google__cloud__partner .container .sec__title {
  font-weight: 400;
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .container .sec__title {
    font-size: 50px;
  }
}
#google__cloud__partner .container .sec__title span {
  font-weight: 800;
}
#google__cloud__partner .card__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  row-gap: 35px;
  margin-top: 75px;
}
@media only screen and (min-width: 576px) {
  #google__cloud__partner .card__wrapper {
    row-gap: 45px;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .card__wrapper {
    justify-items: center;
    row-gap: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .card__wrapper {
    margin-top: 110px;
    row-gap: 80px;
  }
}
@media only screen and (min-width: 1400px) {
  #google__cloud__partner .card__wrapper {
    margin-top: 150px;
  }
}
#google__cloud__partner .card__wrapper .card {
  display: grid;
  row-gap: 15px;
  max-width: 300px;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .card__wrapper .card {
    max-width: initial;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    column-gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .card__wrapper .card {
    width: 85%;
    column-gap: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .card__wrapper .card {
    grid-template-columns: 1fr 2fr;
    width: 80%;
    column-gap: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  #google__cloud__partner .card__wrapper .card {
    column-gap: 120px;
  }
}
#google__cloud__partner .card__wrapper .card .img__wrap {
  background-color: white;
  border-radius: 15px;
  width: 225px;
  height: 180px;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .card__wrapper .card .img__wrap {
    width: 270px;
    height: 245px;
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .card__wrapper .card .img__wrap {
    padding: 25px 35px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .card__wrapper .card .img__wrap {
    width: initial;
    height: initial;
    padding: 40px 35px;
  }
}
#google__cloud__partner .card__wrapper .card .img__wrap svg {
  width: 125px;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .card__wrapper .card .img__wrap svg {
    width: 100%;
  }
}
#google__cloud__partner .card__wrapper .card .card__content h3 {
  background: linear-gradient(90deg, rgba(231, 91, 0, 0.7) 0%, rgba(70, 30, 213, 0.525) 53.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 23px;
  line-height: 125%;
  font-weight: 600;
}
@media only screen and (min-width: 576px) {
  #google__cloud__partner .card__wrapper .card .card__content h3 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .card__wrapper .card .card__content h3 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 1400px) {
  #google__cloud__partner .card__wrapper .card .card__content h3 {
    font-size: 38px;
  }
}
#google__cloud__partner .card__wrapper .card .card__content .para {
  font-weight: 400;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .card__wrapper .card .card__content .para {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  #google__cloud__partner .card__wrapper .card .card__content .para {
    margin-top: 20px;
  }
}
#google__cloud__partner .card__wrapper .card:nth-child(2) {
  justify-self: flex-end;
  justify-items: flex-end;
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .card__wrapper .card:nth-child(2) {
    grid-auto-flow: dense;
    direction: rtl;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .card__wrapper .card:nth-child(2) {
    justify-self: initial;
  }
}
@media only screen and (min-width: 992px) {
  #google__cloud__partner .card__wrapper .card:nth-child(2) .img__wrap {
    justify-self: flex-start;
  }
}
#google__cloud__partner .card__wrapper .card:nth-child(2) .card__content h3,
#google__cloud__partner .card__wrapper .card:nth-child(2) .card__content .para {
  text-align: right;
}
#google__cloud__partner .btn__wrap {
  text-align: center;
}
#google__cloud__partner .btn__wrap a {
  margin-top: 60px;
}
@media only screen and (min-width: 576px) {
  #google__cloud__partner .btn__wrap a {
    margin-top: 85px;
  }
}
@media only screen and (min-width: 768px) {
  #google__cloud__partner .btn__wrap a {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  #google__cloud__partner .btn__wrap a {
    margin-top: 120px;
  }
}

#case__studies {
  margin-bottom: 50px;
}
@media only screen and (min-width: 992px) {
  #case__studies {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  #case__studies {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  #case__studies {
    margin-top: 80px;
    margin-bottom: 140px;
  }
}
#case__studies .container .post__wrap {
  display: grid;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  row-gap: 25px;
}
@media only screen and (min-width: 992px) {
  #case__studies .container .post__wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #case__studies .container .post__wrap {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  #case__studies .container .post__wrap {
    margin-top: 73px;
    margin-bottom: 80px;
  }
}
#case__studies .container .post__wrap .post {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 320px;
  background-color: #f1f0f4;
}
@media only screen and (min-width: 576px) {
  #case__studies .container .post__wrap .post {
    max-width: 400px;
  }
}
@media only screen and (min-width: 768px) {
  #case__studies .container .post__wrap .post {
    display: grid;
    max-width: initial;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 25px;
    padding: 20px;
  }
}
@media only screen and (min-width: 992px) {
  #case__studies .container .post__wrap .post {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  #case__studies .container .post__wrap .post {
    padding: 25px;
  }
}
#case__studies .container .post__wrap .post img {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (min-width: 768px) {
  #case__studies .container .post__wrap .post img {
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #case__studies .container .post__wrap .post .post__title {
    margin-top: 20px;
  }
}
#case__studies .container .post__wrap .post .para {
  margin-top: 10px;
}
#case__studies .container .post__wrap .post .tag__list {
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
