@use "assist";

#loading {
    width: 100vw;
    height: 100vh;
    background-color: black;
    @extend %center;
    display: none;
    // reset style for animation
    #load__path__con {
        path {
            // opacity: 0;
        }
    }
    //  loader wrapper
    .loading__wrap {
        width: 100%;
        height: 100%;
        @extend %center;
        svg {
            width: 20vw;
            max-width: 250px;
        }
    }
}
