* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// mixing ------------------------

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

// variable

// color name
$hot__red: #fd4303;

$respList: (
    576px: 540px,
    768px: 720px,
    992px: 960px,
    1200px: 1140px,
    1400px: 1320px,
    // 1800px: 1720px,
);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// modules
%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// common style

body {
    width: 100%;
    background-color: #f7fff7;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    @include resp($sm) {
        padding-left: 0;
        padding-right: 0;
    }
}

@each $screen, $container in $respList {
    .container {
        @include resp($screen) {
            max-width: $container;
        }
    }
}

// text style
.para {
    font-weight: 500;
    font-size: 16px;
    @include resp($sm) {
        font-size: 18px;
    }
    @include resp($lg) {
        font-size: 20px;
    }
}

// section title
.sec__title {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #003faa;
    @include resp($md) {
        font-size: 40px;
    }
    @include resp ($lg) {
        font-size: 50px;
    }
    @include resp ($xl) {
        font-size: 55px;
    }

    @include resp($xxl) {
        font-size: 60px;
        line-height: 100%;
    }
}

// section discription
.sec__dis {
    font-weight: 400;
    text-align: center;
    @include resp(450px) {
        font-size: 22px;
    }
    @include resp($md) {
        font-size: 24px;
    }
    @include resp($xxl) {
        font-size: 36px;
    }
}

// button style
.btn {
    background-color: $hot__red;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    padding: 13px 0px;
    border-radius: 8px;
    // hover effect
    &:hover {
        background-color: #f4906e;
    }
    @include resp($sm) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include resp($md) {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    @include resp($xl) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include resp($xxl) {
        font-size: 20px;
        padding: 25px 0px;
        border-radius: 15px;
    }
    svg {
        width: 15px;
        fill: white;
        margin-left: 5px;
        @include resp($xl) {
            width: 20px;
            margin-left: 10px;
        }
    }
}

.btn__wrap {
    text-align: center;
}

.btn__gradient {
    @extend .btn;
    background: linear-gradient(270deg, #009eaa 0%, #001baa 100%);
    border-radius: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
    @include resp ($lg) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include resp ($xl) {
        padding: 25px 85px 25px 85px;
    }
}

// tags 
.tag__list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    .tag {
        font-size: 14px;
        background-color: #545b62;
        text-decoration: none;
        color: white;
        padding: 7px 10px;
        text-transform: capitalize;
        border-radius: 5px;
        @include resp ($lg) {
            font-size: 16px;
        }
    }
}

// footer section
footer {
    background-color: black;
    padding-top: 18px;
    padding-bottom: 18px;
    p {
        text-align: center;
        color: white;
    }
}

// loading module
@import "sections/loading";
@import "sections/main";
@import "sections/services";
@import "sections/cloud-partner";
@import "sections/case-studies"
